.banner-resource-archive {
	padding-top: 5rem;
	padding-bottom: 22rem;

	@include media-min($large) {
		padding-bottom: 28rem;

		body.post-type-archive-news &,
		body.post-type-archive-press-release & {
			padding-bottom: 23rem;
		}
	}

	&__row-filters {
		display: flex;
		flex-direction: column;
		gap: 4rem;

		@include media-min($large) {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 8rem;
		}
	}

	&__filters {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
		width: 100%;
		margin-top: 0;

		@include media-min($medium) {
			grid-template-columns: 1fr 1fr 1fr;
		}

		@include media-min($large) {
			max-width: 900px;
		}
	}

	&__filter-control {
		margin-top: 0;

		width: 100%;

		@include media-min($large) {
			max-width: 290px;
		}
	}

	// .banner__breadcrumbs {
	// 	margin-bottom: 1.5rem;
	// }
}
