.play-video-overlay {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&__play-icon {
		height: min(80px, 25%);
		color: var(--color-pink);
		transition: transform var(--default-transition-params);

		.play-video-overlay:hover & {
			transform: scale(1.2);
		}
	}
}
