.wysiwyg {
	a:not(.button):not(.ignore-link-styles) {
		word-wrap: break-word;
		color: var(--anchor-link-normal-color);
		text-decoration: underline;
		text-decoration-color: var(--anchor-link-normal-color);
		text-underline-offset: 2px;
		transition: all var(--default-transition-params);

		&:hover,
		&:active {
			color: var(--anchor-link-hover-color);
			text-decoration-color: var(--anchor-link-hover-color);
		}
	}

	p {
		.button + .button {
			margin-left: 1rem;
		}

		.button + .button--secondary {
			margin-left: 2rem;
		}

		.button--secondary + .button--secondary {
			margin-left: 3rem;
		}
	}

	ul,
	ol {
		padding-left: 0;
		color: var(--body-font-color);
		list-style: none;

		li {
			position: relative;
			margin: 0 0 0.8rem 1.5rem;

			// &::marker {
			// 	color: var(--list-bullet-color);
			// }

			ul,
			ol {
				margin-top: 0.8rem;
			}

			li {
				margin-left: 2.5rem;
			}
		}
	}

	ul {
		li {
			&::before {
				content: "";
				position: absolute;
				top: 10px;
				left: -14px;
				width: 5px;
				height: 5px;
				border-radius: 100%;
				background-color: var(--list-bullet-color);
			}
			ol {
				counter-reset: custom-ol-counter;
				li {
					counter-increment: custom-ol-counter;
					list-style: none;
					&::before {
						background-color: transparent;
						color: var(--list-bullet-color);
						content: counter(custom-ol-counter) ". ";
						display: inline-flex;
						justify-content: center;
						left: -20px;
						margin-right: 0.8rem;
						min-width: 15px;
						top: inherit;
					}
				}
			}
		}
	}

	ol {
		counter-reset: custom-ol-counter;

		li {
			counter-increment: custom-ol-counter;
			margin-left: 0;

			&::before {
				content: counter(custom-ol-counter) ". ";
				display: inline-flex;
				justify-content: center;
				min-width: 15px;
				margin-right: 0.8rem;
				color: var(--list-bullet-color);
			}

			ol {
				// padding-left: 2.5rem;
				counter-reset: custom-ol-child-counter;

				li {
					counter-increment: custom-ol-child-counter;

					&::before {
						content: counter(custom-ol-child-counter, lower-alpha) ". ";
					}
				}
			}

			ul {
				counter-reset: custom-ol-child-counter;
				margin-left: 1.5rem;
				
				li {
					counter-increment: custom-ul-child-counter;
					&::before {
						content: "";
						position: absolute;
						top: 10px;
						left: -14px;
						min-width: 5px;
						width: 5px;
						height: 5px;
						border-radius: 100%;
						background-color: var(--list-bullet-color);
					}
				}
			}
		}
	}

	&--post-content {
		> img {
			width: 100%;
			margin-top: 3rem;

			&:first-child {
				margin-top: 0;
			}
		}

		.caption-center {
			margin-bottom: 3rem;
			font-size: 1.4rem;
			text-align: center;
		}

		.trackable-btns {
			display: flex;
			gap: 1rem;
			margin-top: 2.5rem;
			margin-bottom: 4rem;

			a,
			a:hover,
			button {
				text-decoration: none;
			}
		}
	}
}
