.button,
.wysiwyg button,
input[type="submit"],
.mce-button-primary,
%button {
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	margin: 0;
	padding: 0 1.5rem;
	min-height: var(--default-input-min-height);
	border: 2px solid var(--button-primary-normal-border-color);
	border-radius: var(--default-border-radius);

	font: normal normal var(--font-weight-regular) 1.4rem / 1.45 var(--font-primary);
	letter-spacing: 0.5px;
	text-align: center;
	text-decoration: none;

	color: var(--button-primary-normal-text-color);
	background-color: var(--button-primary-normal-bg-color);

	appearance: none;
	outline: none;
	cursor: pointer;
	transition: all var(--default-transition-speed) ease-in-out;

	&:hover,
	&:active,
	&.active {
		color: var(--button-primary-hover-text-color);
		background-color: transparent;
		border-color: var(--button-primary-hover-border-color);
		text-decoration: none;
	}

	&:disabled,
	&.disabled {
		pointer-events: none;
		cursor: not-allowed;
		color: var(--button-primary-disabled-text-color);
		background-color: var(--button-primary-disabled-bg-color);
		border-color: var(--button-primary-disabled-border-color);
	}

	&.button--secondary {
		padding: 0 1.3rem 0 0;
		min-height: 0;

		color: var(--button-secondary-normal-text-color);
		background-color: transparent;
		border: 0;

		&::after {
			content: ">";
			font-size: 1.8rem;
			position: absolute;
			right: -2px;
			bottom: 0;
			line-height: 1;
			color: var(--button-secondary-normal-text-color);
			transition: all var(--default-transition-params);
		}

		&:hover,
		&:active,
		&.active {
			color: var(--button-secondary-hover-text-color);
			background-color: transparent;
			border-color: transparent;

			&::after {
				color: var(--button-secondary-hover-text-color);
				transform: translateX(3px);
			}
		}

		&:disabled,
		&.disabled {
			color: var(--button-secondary-disabled-text-color);
			background-color: transparent;
			border-color: transparent;

			&::before,
			&::after {
				color: var(--button-secondary-disabled-text-color);
			}
		}
	}
}

.button {
	&--slim {
		min-width: 125px;
		min-height: 0;
		padding: 0.4rem 1.5rem;
	}

	&--large {
		min-height: 50px;
	}
}
